
{% extends 'scan/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex justify-center mt-28">
    <div class="bg-white p-3 rounded-lg max-w-[30%] w-full flex justify-center items-center flex-col">
        <p class="text-black text-3xl font-bold p-4 rounded-lg mt-5 max-w-[50%] break-words">Connexion</p>
        {% if user.is_authenticated %}
            <p class="text-center text-xl pb-5">{{ message }}</p>
            <div class="flex justify-center items-center space-x-4 mb-5">
                <a href="{% url 'scan-home' %}" class="w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center">Accueil</a>
                <a href="{% url 'logout' %}" class="w-40 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-center">Déconnexion</a>
            </div>
        {% else %}
            <form method="post" class="w-full p-4">
                {% csrf_token %}
                <div class="space-y-4">
                    <div>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded w-full mt-6">
                    Se connecter
                </button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
