{%load static%}

<html>
    <head>
        <title>BEGA</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="mt-10" style="background-color: #EDEDED;">
        {% if user.is_authenticated %}
        <!-- Navbar connecté -->
        <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{% url 'scan-home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'scan/LOGO.png' %}" class="h-8" alt="BEGA Logo">
                </a>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                    <li>
                    <a href="{% url 'scan-home' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" aria-current="page">Accueil</a>
                    </li>
                    <li>
                    <a href="{% url 'scan-list' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Scans</a>
                    </li>
                    <li>
                    <a href="{% url 'report-list' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Rapports</a>
                    </li>
                    <li>
                    <a href="{% url 'legal' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Mentions Légales</a>
                    </li>

                    
                    {% if perms.scan.create %}
                    <li>
                    <a href="{% url 'scan-create' %}" class="block py-2 px-3 text-orange-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0">Nouveau scan</a>
                    </li>
                    {%endif%}
                    
                    {% if perms.authentication.add_user %}
                    <li>
                    <a href="{% url 'signup' %}" class="block py-2 px-3 text-orange-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0">Nouvel utilisateur</a>
                    </li>
                    {%endif%}

                    {% if user.role == "ADMINISTRATOR" %}
                    <li>
                    <a href="/admin" class="block py-2 px-3 text-red-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-500 md:p-0">Panel admin</a>
                    </li>
                    {%endif%}

                    <li>
                    <a href="{% url 'logout' %}" class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Déconnexion</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {%else%}
        <!-- Navbar non-connecté -->
        <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{% url 'scan-home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'scan/LOGO.png' %}" class="h-8" alt="BEGA Logo">
                </a>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                    <li>
                    <a href="{% url 'scan-home' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" aria-current="page">Accueil</a>
                    </li>
                    <li>
                    <a href="{% url 'legal' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Mentions Légales</a>
                    </li>
                    <li>
                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Contactez-nous</a>
                    </li>
                    <li>
                    <a href="{% url 'login' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Connexion</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {%endif%}

        {% block content %}
        {% endblock %}

    </body>
</html>